* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'VT323', monospace;
}

body {
    background:#8147FC;
    font-size: 25px;
    min-height: 100vh;
}

header {
    padding-top: 2px;
    min-height: 23vh;
}

#stats {
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    color: white;
    list-style-type: none;
}

.meter div {
    margin-bottom: -2px;
    min-height: 15px;
    margin-left: 1px;
    display: inline-block;
    border: 2px solid red;
    min-width: 5px;
}

#screen {
    position: absolute;
    border: 10px solid black;
    min-height: 70%;
    min-width: 80%;
    top: 80px;
    left: 155px;
    background-color: #84DBFE;
    overflow: hidden;
}

#button-group {
    display: flex;
    justify-content: space-around;
}

.button {
    background-color: #DDDDDD;
    margin-top: 440px;
    min-height: 110px;
    min-width: 110px;
    border: 1px solid black;
    border-radius: 60px;
    text-align: center;
    padding: 15px;
    padding-top: 35px;
    font-size: 40px;
    cursor: pointer;
    /* filter: drop-shadow(5px 5px 2px black); */
}

#ground {
    position: relative;
    border-top: 2px solid black;
    min-height: 64px;
    margin-top: 420px;
    background-color: #A9AB4C;
    padding-bottom: 0;
}

#sun {
    position: absolute;
    max-width: 10%;
}

#start {
    position: absolute;
    top: 200px;
    left: 300px;
    border: 2px dashed red;
    padding: 30px;
    white-space: nowrap;
    animation-fill-mode: forwards;
    animation-name: slideIn;
    animation-duration: 2s;
    cursor: default;
    
}

@keyframes slideIn {
    from {
        left: 1419px;
    }

    to {
        left: 300px;
    }
}

@keyframes fadeOut {
    from {
        opacity:100%
    }
    to {
        opacity: 0%;
    }
}

#egg {
    position: absolute;
    max-width: 5%;
    left: 780px;
    top: 365px;
    z-index: 1;
}

