* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'VT323', monospace;
}

body {
    background:#8147FC;
    font-size: 20px;
    min-height: 100vh;
}

header {
    padding-top: 2px;
    min-height: 23vh;
}

#stats {
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    color: white;
    list-style-type: none;
}

.meter div {
    margin-bottom: -2px;
    min-height: 15px;
    margin-left: 1px;
    display: inline-block;
    border: 2px solid red;
    min-width: 5px;
}

#screen {
    position: absolute;
    border: 10px solid black;
    min-height: 70%;
    min-width: 90%;
    top: 80px;
    left: 75px;
    background-color: #84DBFE;
}

#button-group {
    display: flex;
    justify-content: space-around;
}

.button {
    position: relative;
    display: inline-block;
    background-color: #DDDDDD;
    margin-top: 440px;
    min-height: 110px;
    min-width: 110px;
    border: 1px solid black;
    border-radius: 60px;
    text-align: center;
    padding: 15px;
    padding-top: 35px;
    font-size: 40px;
    cursor: pointer;
}