#pokemon-list {
    position: absolute;
    display: flex;
    visibility: hidden;
    justify-content: space-between;
    top: 290px;
    left: 660px;
    animation-duration: 200ms; 
    animation-fill-mode: forwards;
    animation-duration: 1.7s;
    animation-delay: 1s;
}

#pokemon-list li {
    position: relative;
    padding: 0 10px;
    margin: 0 10px;
    animation-duration: 200ms; 
    animation-fill-mode :forwards
}

#pokemon-list li:hover {
    border: 3px dashed red;
    cursor: default;
}

#bulbasaur {
    max-width: 65px;
}

#ivysaur {
    max-width: 80px;
}

#venasaur {
    max-width: 120px;
}

#squirtle {
    max-width: 60px;
    margin-top:5px;
}

#charmander {
    max-width: 60px;
    margin-top:5px;
}

#charmeleon {
    max-width: 75px;
    animation-name: fadeIn;
    animation-duration: 3s;
}

#charizard {
    max-width: 120px;
    animation-name: fadeIn;
    animation-duration: 3s;
}

#egg {
    position: absolute;
    max-width: 5%;
    left: 780px;
    top: 365px;
    z-index: 3;
    animation-duration: 2s;
    animation-fill-mode: forwards
}

.name_tag {
    position: absolute;
    top: -35px;
    color: white;
    text-align: center;
    width: 100%;
}

.pet {
    position: absolute;
    left: 780px;
    top: 380px;
    z-index: 4;
    animation-fill-mode: forwards;
}